<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Menu Items -->
    <menuitem
        id="menu_attendance_excuse_root"
        name="Giải trình chấm công"
        parent="hr.menu_human_resources"
        sequence="50"
    />

    <menuitem
        id="menu_attendance_excuse_request"
        name="Yêu cầu giải trình"
        parent="menu_attendance_excuse_root"
        action="action_attendance_excuse_request"
        sequence="10"
    />

    <menuitem
        id="menu_attendance_excuse_type"
        name="Loại giải trình"
        parent="menu_attendance_excuse_root"
        action="action_attendance_excuse_type"
        sequence="20"
    />
</odoo>