<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <!-- Menu gốc HDI Express -->
  <menuitem id="hdi_express"
    name="HDI Express"
    parent="sale.sale_menu_root"
    sequence="5"/>

  <!-- Menu Dashboard/Trang chủ -->
  <menuitem id="hdi_express_dashboard"
    name="Trang chủ"
    parent="hdi_express"
    action="hdi_express_sale.action_shipping_dashboard_owl"
    sequence="5"/>

  <!-- Menu tạo phiếu gửi hàng -->
  <menuitem id="sale_order_hdi_create"
    name="Tạo phiếu gửi hàng"
    parent="hdi_express"
    action="hdi_express_sale.action_create_shipping_order"
    sequence="10"/>

  <!-- Menu Quản lý -->
  <menuitem id="hdi_express_manage"
    name="Quản lý"
    parent="hdi_express"
    sequence="20"/>

  <!-- Menu con: Quản lý đơn hàng gửi -->
  <menuitem id="hdi_express_manage_send"
    name="Quản lý đơn hàng gửi"
    parent="hdi_express_manage"
    action="hdi_express_sale.action_hdi_sale_order"
    sequence="10"/>

  <!-- Menu con: Quản lý đơn hàng nhận -->
  <menuitem id="hdi_express_manage_receive"
    name="Quản lý đơn hàng nhận"
    parent="hdi_express_manage"
    action=""
    sequence="20"
    groups="base.group_no_one"/>

  <!-- Menu Đối soát, công nợ -->
  <menuitem id="hdi_express_reconcile"
    name="Đối soát, công nợ"
    parent="hdi_express"
    sequence="25"/>

  <!-- Menu con cho Đối soát, công nợ -->
  <menuitem id="hdi_express_reconcile_paid"
    name="Danh sách chưa trả tiền"
    parent="hdi_express_reconcile"
    action="action_shipping_order_search_by_date"
    sequence="1"/>

  <!-- Menu Tra cứu -->
  <menuitem id="hdi_express_search"
    name="Tra cứu"
    parent="hdi_express"
    sequence="30"/>

  <menuitem id="hdi_express_search_order"
    name="Tìm kiếm phiếu gửi"
    parent="hdi_express_search"
    action="action_shipping_order_search"
    sequence="10"/>

  <!-- Menu Cấu hình -->
  <menuitem id="hdi_express_config"
    name="Cài đặt"
    parent="hdi_express"
    sequence="40"/>

  <!-- Menu -->
  <menuitem id="menu_sender_config"
    name="Địa chỉ Gửi hàng"
    parent="hdi_express_config"
    action="hdi_express_sale.action_sender_config"
    sequence="5"/>

  <!-- Menu con: Dịch vụ vận chuyển -->
  <menuitem id="hdi_shipping_services"
    name="Dịch vụ vận chuyển"
    parent="hdi_express_config"
    action="hdi_express_sale.action_main_shipping_service"
    sequence="10"/>

  <!-- Menu con: Dịch vụ cộng thêm -->
  <menuitem id="hdi_additional_shipping_services"
    name="Dịch vụ cộng thêm"
    parent="hdi_express_config"
    action="hdi_express_sale.action_additional_shipping_service"
    sequence="20"/>
</odoo>